/* Reset default styles */
body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #111;
  padding: 20px;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

h1, h2 {
  color: #fff;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #fff;
}

address {
  font-style: normal;
  color: #fff;
}

/* Slideshow Styles */
.slideshow-container {
  max-width: 350px; /* Set the maximum width for the slideshow container */
  margin: auto;
  overflow: hidden; /* Hide overflow to prevent larger images from overflowing */
  text-align: center; /* Center the images horizontally */
}

.slides {
  display: inline-block; /* Display slides in-line */
}

.slides img {
  width: 320px; /* Set a fixed width for the images */
  height: 460px; /* Maintain aspect ratio */
  display: block; /* Ensure each image appears as a block */
  margin: 10px auto; /* Add margin for spacing between images and center them */
}
/* Additional styles */
a {
  color: #ff0000; /* Red color for links */
}

a:hover {
  text-decoration: underline;
}
